In [3]:
my_list = [1, 2, 3, 4]
print (my_list)

[1, 2, 3, 4]

In [3]:
# Update the quality of an item ("cherry" to 10)
orders = [['apple',10],['banana',5],['cherry',7],['dragon',10],['green',8]]
for each in orders:
    if each[0] == 'cherry':
        each[1] = 10
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10], ['green', 8]]

In [5]:
orders.append(["apple",15])
print(orders)
total = []
for each_item in orders:
    if each_item[0] == "apple":
        total.append(each_item[1])
print(total)
print(sum(total))

[['apple', 10], ['banana', 5], ['cherry', 7], ['dragon', 10], ['green', 8], ['apple', 15], ['apple', 15]]
[10, 15, 15]
40

In [ ]:
orders.append(["apple",15])
print(orders)
total = []
for each_item in orders:
    if each_item[0] == "apple":
        total.append(each_item[1])
print(total)
print(sum(total))

In [3]:
orders = [['apple',10],['banana',5],['cherry',7],['dragon',10],['green',8]]
orders.append(["apple",15])
print(orders)
total = []
for each_item in orders:
    if each_item[0] == "apple":
        total.append(each_item[1])
print(total)
print(sum(total))

[['apple', 10], ['banana', 5], ['cherry', 7], ['dragon', 10], ['green', 8], ['apple', 15]]
[10, 15]
25

In [35]:
tup1 = (4,10,9,"A",9,81, False, 9-6j)
print(tup1)
print(type(tup1))
print(tup1[4:6])

(4, 10, 9, 'A', 9, 81, False, (9-6j))
<class 'tuple'>
(9, 81)

In [43]:
tup2 = (10,20,1,10,10,30,10)
tup2.count(10)

4

In [1]:
scores = {'Virat':90, 'Rohit':100, 'Rahul':7, 'Hardik':9, 'Gill':20, 'Jadeja':30, 'Siraj':15}

In [3]:
scores.update({'Ashwin':50})
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 7,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 30,
 'Siraj': 15,
 'Ashwin': 50}

In [5]:
scores.update({'Jadeja':75})
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 7,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 75,
 'Siraj': 15,
 'Ashwin': 50}

In [7]:
scores.update({'Rahane':65})
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 7,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 75,
 'Siraj': 15,
 'Ashwin': 50,
 'Rahane': 65}

In [11]:
list1 = ["A","B","C","D"]
my_dict = dict.fromkeys(list1,10)
my_dict

{'A': 10, 'B': 10, 'C': 10, 'D': 10}

In [13]:
scores_list = []
for v in scores.values():
    scores_list.append(v)
print(scores_list)
print("Total Score: ",sum(scores_list))

[90, 100, 7, 9, 20, 75, 15, 50, 65]
Total Score:  431